{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- site-main -->
<div id="main" class="site-main">
	<!-- InstanceBeginEditable name="TopContent" -->    
    <!-- .featured-top -->
    <div class="featured-top">
        <img src="images/blog/02.jpg">
        <!-- .post-thumbnail -->
        <div class="post-thumbnail" style="background-image:url(images/blog/about-big.jpg)">
            <!-- .entry-header -->
            <header class="entry-header">
                <!-- .entry-title -->
                <h1 class="entry-title">About Me</h1>
            </header>
            <!-- .entry-header -->
        </div>
    	<!-- .post-thumbnail -->
    </div>
    <!-- .featured-top -->    
	<!-- InstanceEndEditable -->
    <div class="layout-fixed"> 
        <div id="primary" class="content-area">     
            <!-- site-content -->
            <div id="content" class="site-content" role="main">
                <!-- InstanceBeginEditable name="PageContent" -->
                <!-- .hentry -->
                <article class="hentry page">   
                    <!-- .entry-content -->
                    <div class="entry-content">
                        <h4>But who are you, exactly, Daniel?</h4>
                        <p>I so glad you asked! I am an Industrial Engineering Senior that fell in love with Machine Learning. In my brief professional career, I have had the privilege to work on three different companies and an international work experience, with two summer internships and two regular internships. The first, at Shell in Houston, TX, I worked as a Subsea Hardware Engineer. Then as a Pricing Analyst at the biggest bank in Brazil, Itaú-Unibanco</p>
                        <p> For my regular internships, I worked as a Business Analyst in the Big Data and Analytics division of the biggest payment company in Latin America, Cielo S.A. and also as a Data Analyst for the CRM Modeling team at Itaú-Unibanco. If you want to get the full picture of my professional experience check ou my <a href="../resume">resume.</a> </p>

                        <p>I also love creating awesome Spotify playlists playing videogames (lately playing A LOT of Overwatch and PUBG)</p>
                        <h4>What the hell does Akangatu means?</h4>
                        <p>Akangatu means intelligence in Tupi, one of the native Brazilian languages. I'd like to share some of the knowlegde I aquired - even though it might not be much. I feel like writting about my work not only helps me consolidate my knowlegde of the subject, but hopefully it helps to spread the word about things I am passionate about.</p>
                        <h4>If you want to talk to me about anything, you can reach me at:</h4>                        
                        <p>
                            <a class="social-link twitter" href="http://twitter.com/dpereira14"></a>
                            <a class="social-link linkedin" href="http://linkedin.com/in/dpereira14"></a>
                            <a class="social-link github" href="http://github.com/ddearauj"></a>
                        </p>
                        <p>Or email me at <a href="mailto:danielpereira03@gmail.com?Subject=Hey%20Daniel!" target="_top">danielpereira03@gmail.com</a></p>
                    </div>
                    <!-- .entry-content -->                    
                </article>
                <!-- .hentry -->
                <!-- InstanceEndEditable -->
            </div>
            <!-- site-content -->
        </div>
        <!-- primary -->    
    </div>
    <!-- layout -->
</div>
<!-- site-main -->
{% endblock content %}