{% block footer %}
<!-- site-footer -->
<footer id="colophon" class="site-footer" role="contentinfo">
	
    <!-- layout-medium -->
    <div class="layout-medium">
    
    	
        <!-- site-title-wrap -->
        <div class="site-title-wrap">
        
        
            <!-- site-title : text-logo -->
            <!--<h1 class="site-title">
                <a href="../index.html" rel="home">
                    Jeff Winger
                </a>
            </h1>-->
            <!-- site-title -->
                       
            <!-- site-title : image-logo -->
<!--             <h1 class="site-title">
                <a href="index-2.html" rel="home">
                    <img src="images/site/logo.png" alt="logo">
                </a>
            </h1> -->
            <!-- site-title -->
            
            <p class="site-description">Sharing knowledge. At least trying to</p>
        
        </div>
        <!-- site-title-wrap -->
        
    	
        <!-- footer-social -->
        <div class="footer-social">
        	
            <div class="textwidget">
                <a class="social-link github" href="http://github.com/ddearauj"></a>
                <a class="social-link twitter" href="http://twitter.com/dpereira14"></a>
                <a class="social-link linkedin" href="http://linkedin.com/in/dpereira14"></a>
            </div>
            
        </div>
        <!-- footer-social -->    
    </div>
    <!-- layout-medium -->
</footer>
<!-- site-footer -->
{% endblock footer %}