{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
        <!-- site-main -->
        <div id="main" class="site-main">

			<!-- InstanceBeginEditable name="TopContent" -->
             
            <div class="layout-medium"> 
                <div id="primary" class="content-area">
 
                    <!-- site-content -->
                    <div id="content" class="site-content" role="main">
                    
                        <!-- InstanceBeginEditable name="PageContent" -->
                                                
                        <!-- .hentry -->
                        <article class="hentry page">
                            
                            <!-- .entry-content -->
                            <div class="entry-content intro" data-animation="rotate-1">
                                
                                <!-- .profile-image -->
                                <div class="profile-image">
                                	<img alt="profile" src="{% static 'images/site/foto.jpg' %}"/>
                                </div>  
                                <!-- .profile-image -->
                                
                                <h2><em>Hi.</em> I'm Daniel Pereira</h2>
                                <h3><strong>Engineer</strong> <strong>Data Analyst</strong> <strong>Nerd</strong></h3>
                                
                                
                                <!-- .link-boxes -->
                                <figure>
                                	<a href="/about"><img src="images/site/box-01.jpg" alt="About Me"></a>
                                    <figcaption class="wp-caption-text">About Me</figcaption>
                                </figure>        
                                
                                <figure>
                                	<a href="/projects"><img src="images/site/box-02.jpg" alt="About Me"></a>
                                    <figcaption class="wp-caption-text">Projects</figcaption>
                                </figure> 
                                
                                <figure>
                                	<a href="/resume"><img src="images/site/box-03.jpg" alt="About Me"></a>
                                    <figcaption class="wp-caption-text">Resume</figcaption>
                                </figure> 
                                
                                <figure>
                                	<a href="/blog"><img src="images/site/box-04.jpg" alt="About Me"></a>
                                    <figcaption class="wp-caption-text">Blog</figcaption>
                                </figure> 
                                <!-- .link-boxes -->         
                                	
                                    
                             </div> 
                             <!-- .entry-content -->
                                
                                	
                                    
                         </article> 
                         <!-- .page -->
                         <!--  LATEST BLOG POSTS PLACE HOLDER -->
                        <!-- InstanceEndEditable -->
                        
                        
                    </div>
                    <!-- site-content -->
            
                </div>
                <!-- primary -->    
            
            
            	
            
            
            </div>
            <!-- layout -->
        
        
        </div>
        <!-- site-main -->
{% endblock content %}