                       <!-- .home-title -->
                       <h3 class="widget-title home-title">LATEST FROM THE BLOG</h3>  
                         
                        
                       <!-- BLOG SIMPLE -->
                       <div class="blog-simple">
                            
                            <!-- .hentry -->
                            <article class="hentry post has-post-thumbnail">
                                
                                <!-- .hentry-left -->
                                <div class="hentry-left">
                                    <div class="entry-date">
                                        <span class="day">17</span>
                                        <span class="month">May</span>
                                        <span class="year">2015</span>
                                    </div>
                                    <div class="featured-image" style="background-image:url(images/blog/06.jpg)"></div>
                                </div>
                                <!-- .hentry-left -->
                                
                                <!-- .hentry-middle -->
                                <div class="hentry-middle">
                                        
                                    <!-- .entry-title -->
                                    <h2 class="entry-title"><a href="blog-single.html">Gathering with old friends</a></h2>
                            
                                </div>
                                <!-- .hentry-middle -->
                                
                                <a class="post-link" href="blog-single.html">Gathering with old friends</a>
                                
                            </article>
                            <!-- .hentry -->
                            
                            <!-- .hentry -->
                            <article class="hentry post has-post-thumbnail">
                                
                                <!-- .hentry-left -->
                                <div class="hentry-left">
                                    <div class="entry-date">
                                        <span class="day">03</span>
                                        <span class="month">Apr</span>
                                        <span class="year">2015</span>
                                    </div>
                                    <div class="featured-image" style="background-image:url(images/blog/07.jpg)"></div>
                                </div>
                                <!-- .hentry-left -->
                                
                                <!-- .hentry-middle -->
                                <div class="hentry-middle">
                                        
                                    <!-- .entry-title -->
                                    <h2 class="entry-title"><a href="blog-single.html">Notes On Life</a></h2>
                            
                                </div>
                                <!-- .hentry-middle -->
                                
                                <a class="post-link" href="blog-single.html">Notes On Life</a>
                                
                            </article>
                            <!-- .hentry -->
                            
                            <!-- .hentry -->
                            <article class="hentry post has-post-thumbnail">
                                
                                <!-- .hentry-left -->
                                <div class="hentry-left">
                                    <div class="entry-date">
                                        <span class="day">09</span>
                                        <span class="month">Jan</span>
                                        <span class="year">2015</span>
                                    </div>
                                    <div class="featured-image" style="background-image:url(images/blog/08.jpg)"></div>
                                </div>
                                <!-- .hentry-left -->
                                
                                <!-- .hentry-middle -->
                                <div class="hentry-middle">
                                        
                                    <!-- .entry-title -->
                                    <h2 class="entry-title"><a href="blog-single.html">Minimalist Living Tips</a></h2>
                            
                                </div>
                                <!-- .hentry-middle -->
                                
                                <a class="post-link" href="blog-single.html">Minimalist Living Tips</a>
                                
                                
                            </article>
                            <!-- .hentry -->
                            
                            <!-- .hentry -->
                            <article class="hentry post has-post-thumbnail">
                                
                                <!-- .hentry-left -->
                                <div class="hentry-left">
                                    <div class="entry-date">
                                        <span class="day">14</span>
                                        <span class="month">Jun</span>
                                        <span class="year">2015</span>
                                    </div>
                                    <div class="featured-image" style="background-image:url(images/blog/09.jpg)"></div>
                                </div>
                                <!-- .hentry-left -->
                                
                                <!-- .hentry-middle -->
                                <div class="hentry-middle">
                                        
                                    <!-- .entry-title -->
                                    <h2 class="entry-title"><a href="blog-single.html">History of The Beloved Machine</a></h2>
                            
                                </div>
                                <!-- .hentry-middle -->
                                
                                <a class="post-link" href="blog-single.html">History of The Beloved Machine</a>
                                
                                
                            </article>
                            <!-- .hentry -->
                            
                            <!-- .hentry -->
                            <article class="hentry post has-post-thumbnail">
                                
                                <!-- .hentry-left -->
                                <div class="hentry-left">
                                    <div class="entry-date">
                                        <span class="day">25</span>
                                        <span class="month">Agu</span>
                                        <span class="year">2015</span>
                                    </div>
                                    <div class="featured-image" style="background-image:url(images/blog/10.jpg)"></div>
                                </div>
                                <!-- .hentry-left -->
                                
                                <!-- .hentry-middle -->
                                <div class="hentry-middle">
                                        
                                    <!-- .entry-title -->
                                    <h2 class="entry-title"><a href="blog-single.html">Mastering Photography</a></h2>
                            
                                </div>
                                <!-- .hentry-middle -->
                                
                                <a class="post-link" href="blog-single.html">Mastering Photography</a>
                                
                                
                            </article>
                            <!-- .hentry -->
                            
                       </div> 
                       <!-- BLOG SIMPLE -->
                      
                      
                      
                      <!-- .home-launch -->
                      <div class="home-launch">
                        <a class="button" href="blog-irregular.html">See All Posts</a>
                      </div> 
                      <!-- .home-launch -->