{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- site-main -->
    <div id="main" class="site-main">
        <div class="layout-medium"> 
            <div id="primary" class="content-area">
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                    <!-- .hentry -->
                    <article class="hentry page">   
                        <header class="entry-header">
                            <h1 class="entry-title">Curriculum Vitae</h1>
                        </header>
                        <!-- .entry-content -->
                        <div class="entry-content">
                            <!-- row -->
                            <div class="row">
                                <!-- col 6/12 -->
                                <div class="col-sm-7">
                                    <!-- TIMELINE -->
                                    <div class="timeline">
                                        
                                        <!-- event -->
                                        <div class="event">
                                            <h2>PROFESSIONAL EXPERIENCE</h2>
                                            <i class="pw-icon-bookmark-empty"></i>
                                        </div>
                                        <!-- event -->
                                        
                                        <!-- event -->
                                        <div class="event current">
                                            <h6>Feb 2017 - Aug 2017</h6>
                                            <h4>Data Analyst Intern - CRM Modeling</h4>
                                            <h5>Itaú-Unibanco</h5>
                                            <h5><i class="fa fa-map-marker" aria-hidden="true"></i>São Paulo, SP, Brazil</h5>
                                            <p> Automated models that were manually executed each month in SAS. Created a wiki to document the structure of the models and best practices in order to automate them and to share knowledge between co-workers.
                                            Designed a costumer retention model, predicting clients that are more likely to close their accounts in the next three months.</p>
                                        </div>
                                        <!-- event -->
                        
                                        <!-- event -->
                                        <div class="event">
                                            <h6>Mar 2016 - Oct 2016</h6>
                                            <h4>Business Analytics / Big Data Intern</h4>
                                            <h5>Cielo S.A.</h5>
                                            <h5><i class="fa fa-map-marker" aria-hidden="true"></i>Barueri, SP, Brazil</h5>
                                            <p>Cielo is the biggest payment system company in Latin America by revenue and market value. Designed an algorithm that increased the accuracy of classifying stores and its shopping center and reduced the process time by 15% using Python Developed studies modeling costumer profile, share of wallet and others. Using SAS to manipulate data and Tableau for the dashboard.</p>
                                        </div>
                                        <!-- event -->
                                        
                                        <!-- event -->            
                                        <div class="event">
                                            <h6>Dec 2015 - Feb 2016</span>
                                            <h4>Pricing Analyst Summer Intern</h4>
                                            <h5>Itaú-Unibanco</h5>
                                            <h5><i class="fa fa-map-marker" aria-hidden="true"></i>São Paulo, SP, Brazil</h5>
                                            <p>Analyze the impact of the latest pricing strategy implemented by the bank's Vehicle Office. Develop a tool that automatically generates reports and a plan of action tailored to the strategic and commercial planning group</p>
                                        </div>
                                        <div class="event">
                                            <h6>May 2015 - Aug 2015</span>
                                            <h4>Subsea Hardware Engineer Summer Intern</h4>
                                            <h5>Shell International Exploration and Production Inc.</h5>
                                            <h5><i class="fa fa-map-marker" aria-hidden="true"></i>Houston, TX, USA</h5>
                                            <p>Worked closely with our vendors to analyze and decide what is the best fabrication model for the Christmas Tree the project needs. Understanding both the project’s and Shell’s scope to ensure synergy and collaboration to guarantee the best result for both. Delaying Shell’s commitment to spend and allocating their assets efficiently. Developed a mechanism to ensure that the subsea hardware in storage is properly preserved and managed by our vendors.</p>
                                        </div>
                                        <!-- event -->
                                        
                                        <!-- event -->                                            
                                        <div class="event">
                                            <h2>EDUCATION</h2>
                                            <i class="pw-icon-graduation-cap"></i>
                                        </div>
                                        <!-- event -->
                                        
                                        <!-- event -->            
                                        <div class="event">
                                            <h6>2012 - 2018</h6>
                                            <h4>B.E. Industrial Engineering</h4>
                                            <h5>Universidade Estadual de Campinas</h5>
                                            <p> ... </p>
                                        </div>
                                        <!-- event -->
                                        
                                        <!-- event -->
                                        <div class="event">
                                            <h6>2014 - 2015</h6>
                                            <h4>Study Abroad, Industrial Engineering</h4>
                                            <h5>Purdue University</h5>
                                            <p>Full Scholarship recipient</p>
                                        </div>
                                        <!-- event -->
                                    </div>
                                    <!-- TIMELINE -->
                                    
                                    <p><a href="https://www.linkedin.com/in/dpereira14" class="button"><i class="pw-icon-linkedin-squared"></i>My LinkedIn Profile</a></p>
                                    
                                </div>
                                <!-- col 6/12 -->
                                <!-- col 6/12 -->
                                <div class="col-sm-5">
                                    
                                    <h3>PROJECTS</h3>
                                    <div class="testo">
                                        <h4><a href="https://github.com/ddearauj/cob-aiNet">Immuno-inspired algorithms in Blind Signal Separation</a>
                                            <span>Undergraduate Research</span>
                                        </h4>
                                        <p>Similar to the <a href="https://en.wikipedia.org/wiki/Blind_signal_separation#Applications">cocktail party problem</a> but the signals are finite. Used Independent Component Analysis and Bio-inpired computation to solve the problem. Coded the simulations in C.</p>
    
                                    </div>
                                    <div class="testo">
                                        <h4><a href="https://github.com/ddearauj/Operations-Research/blob/master/simplex.py">Python Linear Programming Solver</a>
                                            <span>Undergraduate Research</span>
                                        </h4>
                                        <p>Building a Python Implementation of the Simplex Algorithm that shows the tableau in every iteration.</p>
    
                                    </div>

                                    <h3>CERTIFICATES</h3>
                                    <div class="testo">
                                        <h4><a href="https://github.com/ddearauj/rnpi/blob/master/deliver/RNPI-indice.ipynb">Hands-on Deep Learning for Images</a>
                                        </h4>
                                        <p>Course by UNICAMPs School of Electrical and Computer Engineering.</p>
                                    </div>
        
                                    <h3>TECHNOLOGIES</h3>
                                    <div class="testo">
                                        <h4>Python</a>
                                        </h4>
                                        <p>Used Python during my internship at Cielo S.A. to improve the accuracy of one of our models. Scraping the web to get the list of stores in a mall and comparing it to our Database.</p>
                                        <p>Built this blog with Django.</p>    
                                    </div>

                                    <div class="testo">
                                        <h4>SAS</a>
                                        </h4>
                                        <p>Explore data and create models. Used it daily at Cielo S.A. and Itaú-Unibanco.</p>
                                        <p>My fanciest model with it was a Neural Network to predict clients churn. The whole data prep and simulations were done in Base SAS. </p>    
                                    </div>

                                    <div class="testo">
                                        <h4>Tableau</a>
                                        </h4>
                                        <p>Created dashboards for clients in order to facilitate insights. Used almost daily during my time at Cielo S.A. </p> 
                                    </div>

                                    <div class="testo">
                                        <h4>SQL</a>
                                        </h4>
                                        <p>Used SQL when SAS was not an option, for example, to extract data from our databases (Teradata and Oracle). </p> 
                                    </div>

                                    <div class="testo">
                                        <h4>Keras</a>
                                        </h4>
                                        <p>Used in the Hands-on Deep Learning for images Course. </p> 
                                    </div>
        
                                </div>
                                <!-- col 6/12 -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- .entry-content -->
                    </article>
                    <!-- .hentry -->
                <!-- InstanceEndEditable -->     
                </div>
                <!-- site-content -->
            </div>
            <!-- primary -->    
        </div>
        <!-- layout -->
    
    
    </div>
    <!-- site-main -->
    
<!-- page -->
<!-- SCRIPTS -->
{% endblock content %}