{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- site-main -->
        <!-- site-main -->
        <div id="main" class="site-main">
            <!-- InstanceBeginEditable name="TopContent" -->
            
            <!-- InstanceEndEditable -->
              
            <div class="layout-medium"> 
                <div id="primary" class="content-area">
            
                    <!-- site-content -->
                    <div id="content" class="site-content" role="main">
                    
                                    
                        <!-- InstanceBeginEditable name="PageContent" -->

                        <!-- .hentry -->
                        <article class="hentry page page-404">
                        
                            
                            <!-- .entry-header -->   
                            <header class="entry-header">
                                <h1 class="entry-title">sorry, page not ready yet :/</h1>
                            </header>
                            <!-- .entry-header -->   
                            
                            
                        </article>
                        <!-- .hentry -->
                    
                    
                        <!-- InstanceEndEditable -->
                        
                        
                    </div>
                    <!-- site-content -->
            
                </div>
                <!-- primary -->    
            
            
                
            
            
            </div>
            <!-- layout -->
        
        
        </div>
        <!-- site-main -->
        
    <!-- site-main -->
    
<!-- page -->

{% endblock content %}